# Folders
.dev/
.git/
.github/
.Rproj.user/
cache/
man/

# Files
^/.Rprofile$
^/.Renviron$

# Demo
./R/demo-*
./tests/testthat/test-demo-*

# Docker
^docker-compose.yml$
R/docker-DockerCompose.R
tests/testthat/test-DockerCompose.R
