# Folders
.dev/
.git/
.github/
.Rproj.user/
cache/
inst/docs/
man/
vignettes/_cache/

# Files
/.Rprofile
/.Renviron

# Docker
docker-compose.yml
R/utils-DockerCompose.R
tests/testthat/test-DockerCompose.R
